$purple: #8a2be1;
$red: #ff0000;
$yellow: #ffff00;
$green: #00ff00;

@mixin margins($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

html, body {
    overflow-x: hidden;
}

.title {
    display: inline-block;
}

.jumbotron {
    background-color: $purple;
    color: white;
    @include margins(50px, 24px);
}

.card-hotel {
    flex: 1 215px;
    padding: 2px 12px 12px 12px;
    margin: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.btn-card {
    width: 48%;
}

.tab-content{
    margin-top: 16px;
}

.countries {
    list-style-type: none;
    padding-left: 12px;
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: $purple;
    margin-top: 12px;
    margin-bottom: 0px;

    a {
        color: white;
    }

    address {
        color: white;
    }

    .footer-address-icon{
        padding-right: 10px;
    }
}