html, body {
  overflow-x: hidden;
}

.title {
  display: inline-block;
}

.jumbotron {
  background-color: #8a2be1;
  color: white;
  margin-top: 50px;
  margin-bottom: 24px;
}

.card-hotel {
  flex: 1 215px;
  padding: 2px 12px 12px 12px;
  margin: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn-card {
  width: 48%;
}

.tab-content {
  margin-top: 16px;
}

.countries {
  list-style-type: none;
  padding-left: 12px;
}

.footer {
  padding: 10px 10px 0 10px;
  background-color: #8a2be1;
  margin-top: 12px;
  margin-bottom: 0px;
}
.footer a {
  color: white;
}
.footer address {
  color: white;
}
.footer .footer-address-icon {
  padding-right: 10px;
}

/*# sourceMappingURL=styles.css.map */
